header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-width: 320px;
	height: 390px;
	text-align: center;
	background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
	width: 100px;
	height: 100px;
	margin-top: 30px;
	align-self: center;
}
/* body {
	overflow-y: scroll;
	overflow-x: hidden;
} */

// .header--img-logo {
// 	max-height: 100px;
// 	max-width: 100px;
// 	width: 100%;
// 	height: 100%;
// }

.header--title-container {
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	height: 218px;
	margin-top: 20px;
	align-self: center;
}
.header--title-container h1 {
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: $just-white;
}
.header--title-container p {
	margin-top: 25px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: $soft-orange;
}
.header--title-container .header--button {
	// position: absolute;
	position: relative;
	left: calc(50% - 118px);
	// top: 270px;
	display: block;
	margin-top: 35px;
	padding: 15px;
	width: 229px;
	height: 48px;
	background-color: $off-white;
	/* Sombra */
	box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
	border: none;
	border-radius: 5px;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	color: $black;
}
// .header--button span img {
// 	display: inline-block;
// 	width: 13px;
// 	height: 8px;
// 	margin-left: 10px;
// }

.arrow-down {
	// display: inline-block;
	width: 13px;
	height: 8px;
	// margin-left: 10px;
}
