.main-plans-container {
	width: 100%;
	min-width: 320px;
	padding-bottom: 70px;
	text-align: center;
	// margin-bottom: 100px;
}
.plans--title {
	width: 90%;
	min-width: 288px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 50px;
}
.plans--title h2 {
	padding-top: 50px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: $black;
}
.plans--title p {
	padding-top: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #757575;
}
.plans-container--slider {
	height: 350px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.plans-container--card {
	display: inline-block;
	width: 70%;
	min-width: 190px;
	max-width: 300px;
	height: 270px;
	margin: 50px 5px 0;

	padding: 10px 10px;
	background-color: $just-white;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(89, 73, 30, 0.4);
}
.recomendado {
	height: 3rem;
	font-size: 1.5rem;
	padding: 6px;
	background-color: $bitcoin-orange;
	border-radius: 8px;
	color: $just-white;
	font-weight: bold;
}
.recomendado-second {
	height: 3rem;
	font-size: 1.5rem;
	padding: 6px;
	background-color: $secondary-blue;
	border-radius: 8px;
	color: $just-white;
	font-weight: bold;
}
.recomendado-third {
	height: 3rem;
	font-size: 1.5rem;
	padding: 6px;
	background-color: $black;
	border-radius: 8px;
	color: $just-white;
	font-weight: bold;
}
.plan-card--title {
	padding-top: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: $black;
}
.plan-card--price {
	padding: 5px 0;
	font-size: 5.2rem;
	font-weight: bold;
	line-height: 5.3rem;
	color: $black;
}
.plan-card--price span {
	font-size: 1.2rem;
	font-weight: 300;
	vertical-align: 2.4rem;
}
.plan-card--saving {
	font-size: 1.2rem;
	color: #757575;
	width: inherit;
}
.plan-card--ca {
	width: 150px;
	height: 48px;
	margin-top: 10px;
	margin-bottom: 25px;
	background-color: $soft-orange;
	border: 1px solid $soft-orange;
	border-radius: 4px;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.8rem;
	align-self: center;
	text-align: center;
	color: $black;
}
.plan-card--ca span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("../../media/assets/icons/orange-right-arrow.png");
	vertical-align: text-bottom;
}
